################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/banco de dados
/CadastroCliente/bin/Debug/net5.0
.vs/*
